<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Retail calculator.</title>
</head>
<body>
<div align="center">
<h2>Retail calculator.</h2>
<form method="post">
    <p><b>Quantity:</b><br>
    <input type="number" name="amount" min="1" value="{{ amount }}"/>
    </p>
    <p><b>Price:</b><br>
    <input type="number" name="price" step="0.01" min="0.01" value="{{ price }}"/>
    </p>
    <p><b>State:</b><br>
    <input type="text" name="state" size="2" value="{{ state }}"/>
    </p>
    <input type="submit">
</form>
    <p>Discount price: {{ discount_price }}</p>
    <p>Total price: {{ total_price }}</p>
</div>
</body>
</html>
